* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}

$body: #f2f2f2;
$color-gold: hsl(24, 56%, 63%);
$color-black: hsl(0, 0%, 8%);
$color-gray: #4D4D4D;
$color-white: rgb(235 235 235);

$font-size-900: 3.75rem;
$font-size-800: 3.125rem;
$font-size-560: 3.125rem;
$font-size-600: 2rem;
$font-size-500: 1.125rem;
$font-size-400: 1rem;

$font-family-shoulders: "Big Shoulders Display", cursive;
$font-family-outfit: "Outfit", sans-serif;

html,
body {
    scroll-behavior: smooth;
    font-family: $font-family-outfit;
    color: $color-black;
    overflow-x: hidden;
}

h1 {
    font-size: $font-size-900;
    color: $color-gold;
}

button, input, textarea {
    font-family: inherit;
}

img {
    max-width: 100% !important;
   
    display: block;
}

.container {
    width: 77.5rem;
    max-width: 80%;
    margin: 0 auto;
    @media (max-width:62.5rem) {
        max-width: 90%;
    }
}


